<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlitzMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
              fileName="${specialfolder:folder=CommonApplicationData}\MKLabs\FlitzMon\FlitzMon.${longdate:cached=true}.log"
              keepFileOpen="true" concurrentWrites="true" />
      <!--<target name="console" xsi:type="ColoredConsole" layout="${message}">
        <highlight-row condition="level==LogLevel.Debug" foregroundColor="DarkGray" />
        <highlight-row condition="level==LogLevel.Info" foregroundColor="Gray" />
        <highlight-row condition="level==LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level==LogLevel.Trace" foregroundColor="Green" />
        <highlight-row condition="level==LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level==LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
      </target>-->
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="file" />
      <!--<logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="console" />-->
    </rules>
  </nlog>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <userSettings>
    <FlitzMonitor.Properties.Settings>
      <setting name="FritzAddress" serializeAs="String">
        <value>192.168.178.1</value>
      </setting>
    </FlitzMonitor.Properties.Settings>
  </userSettings>
</configuration>